tmp/
#components/
managed_components/
build/
.vscode/
.code-workspace
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
out/
vscode/
config.bin